.auth-link-container {
  margin-top: 32px; /* Dale aire respecto a los botones sociales */
  text-align: center;
  font-size: 14px;
  color: var(--gray-500);
}

.link {
  color: var(--focus-blue); /* O el color de tu marca */
  font-weight: 700;
  text-decoration: none;
  transition: color 0.2s;
}

/* 3. Para Celular (Feedback al tocar) */
.link:active {
  opacity: 0.5; 
  transform: scale(0.98); 
}

.link:hover {
  text-decoration: underline;
  color: var(--focus-blue-dark);
}